{% extends 'students/base.html' %}

{% block content %}
    <div class="card">
        <h1>Due Soon Fees</h1>
        {% if due_soon_students %}
            <ul>
                {% for student in due_soon_students %}
                    <li>
                        <i class="fas fa-exclamation-triangle"></i>
                        <div class="student-info">
                            <a href="{% url 'student_detail' student.roll_number %}">
                                {{ student.name }} (Roll No: {{ student.roll_number }})
                            </a>
                            <small>Due by: {{ student.paid_till_date }}</small>
                        </div>
                        {% with whatsapp_message="Dear "|add:student.name|add:", your fees are due by "|add:student.paid_till_date|add:". Please pay as soon as possible. Thank you." %}
                        <a href="https://wa.me/{{ student.phone_number }}?text={{ whatsapp_message|urlencode }}" class="whatsapp-button" target="_blank">
                            <i class="fab fa-whatsapp"></i> WhatsApp
                        </a>
                        {% endwith %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No students with fees due soon.</p>
        {% endif %}
    </div>
{% endblock content %}