{% extends 'students/base.html' %}

{% block content %}
    <div class="card">
        <h1>Search</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_roll_number"><i class="fas fa-id-card"></i> Roll Number:</label>
                <input type="number" name="roll_number" id="id_roll_number" required>
            </div>
            <button type="submit"><i class="fas fa-search"></i> Search</button>
        </form>

        {% if message %}
            <p class="message">{{ message }}</p>
        {% endif %}
    </div>
{% endblock content %}